{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}Часто задаваемые вопросы{% endblock %}
{% block description %}Часто задаваемые вопросы{% endblock %}

{% block header %}

{% endblock %}
{% block body %}
        <!-- Marketing Icons Section -->
        <!-- Call to Action Section -->
        <div class="well">
                <div class="row">
                        <div class="col-md-12">
                                <h1 style="text-align: center; font-size: 1.5em; margin-top: .5em;">Часто задаваемые вопросы</h1>
                        </div>
                </div>
        </div>

        <!-- Portfolio Section -->
        <div class="row">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        У меня есть к вам предложение по функционалу
                                                </a>
                                        </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                                Будем рады ознакомиться с вашем предложением по help@myskills.pro или в разделе нашей официальной группы в ВКонтакте <a href="https://vk.com/topic-70737009_35904240" target="_blank">https://vk.com/topic-70737009_35904240</a>
                                        </div>
                                </div>
                        </div>
                        <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Не могу залогиниться через соц. сети
                                                </a>
                                        </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                                Скорее всего это временная проблема. Пожалуйста, попробуйте позже.
                                        </div>
                                </div>
                        </div>
                        <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading4">
                                        <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                        Не приходит письмо об активации аккаунта/смене пароля
                                                </a>
                                        </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                        <div class="panel-body">
                                                Проверьте, пожалуйста, в папке Спам или запросите письмо еще раз. Если письмо не пришло, напишите нам на <a href="mailto:help@myskills.pro">help@myskills.pro</a>.
                                        </div>
                                </div>
                        </div>
                        <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading5">
                                        <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                        Как зарегистрироваться на сайте?
                                                </a>
                                        </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                        <div class="panel-body">
                                                Можете воспользоваться этой ссылкой <a href="https://myskillspro.ru/register/">https://myskillspro.ru/register/</a>
                                        </div>
                                </div>
                        </div>
                        <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading6">
                                        <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                                        Забыл пароль
                                                </a>
                                        </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                        <div class="panel-body">
                                                Чтобы сменить пароль, пожалуйста, введите логин на странице <a href="https://myskillspro.ru/resetting/request" target="_blank">https://myskillspro.ru/resetting/request</a> “Сбросить пароль”.
                                                После этого, на указанную электронную почту в профиле придет письмо с дальнейшими инструкциями.
                                        </div>
                                </div>
                        </div>
                        <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading7">
                                        <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                        Не удаётся войти в свой аккаунт через Facebook
                                                </a>
                                        </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                        <div class="panel-body">
                                                Скорее всего это ошибка на стороне Facebook. Попробуйте, пожалуйста, выйти и заново зайти в свой аккаунт VK.
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!-- /.row -->

{% endblock%}