{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}Лицензионное соглашение{% endblock%}
{% block description %}Лицензионное соглашение{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
<h1>Лицензионное соглашение</h1>
<p class="p2"><span class="s1"></span><br></p>
<p class="p3"><span class="s2">Администрация Сайта (Лицензиар) предоставляет Вам право использования Программ для ЭВМ Сайта Майскиллс, на условиях, являющихся предметом настоящего Лицензионного соглашения. В этой связи, Вам необходимо внимательно ознакомиться с условиями настоящего Лицензионного соглашения, которое рассматриваются Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.<span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s1"></span><br></p>
<p class="p4"><span class="s1">1. Термины, используемые в настоящем Соглашении</span></p>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>1.1. Сайт Майскиллс (или Сайт)</b> – интернет-ресурс, состоящий из совокупности (а) Программ для ЭВМ (включая Приложения API) и (б) информации (контента), размещенной в них Администрацией и/или Пользователями. Сайт Майскиллс содержится в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу (доменному имени): <a href="https://myskillspro.ru/"><span class="s4"><b>https://myskills.pro</b></span></a> (включая все уровни указанного домена, как функционирующие на дату заключения настоящего Лицензионного договора, так и запускаемые и вводимые в эксплуатацию в течение всего срока его действия).</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>1.2. Программы для ЭВМ Сайта Майскиллс (или Программы для ЭВМ)</b> – представленные в объективной форме совокупности данных и команд, исполняющиеся на ЭВМ Пользователя, порождающие аудиовизуальные отображения и выполняющие определенные функции Сайта и/или отвечающие за функционирование Сайта в целом. Право использования Программ для ЭВМ Сайта Майскиллс, за исключением Дополнительного функционала Сайта, предоставляется Администрацией Пользователю на безвозмездной основе согласно условиям настоящего Соглашения.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>1.3. Приложения API</b> – программы для ЭВМ, исполняющиеся на ЭВМ Пользователя в составе Программ для ЭВМ Сайта Майскиллс и визуально представленные Пользователю в виде различных интерактивных визуальных сервисов (игр, электронных сервисов и т.д.), которые могут использоваться Пользователем наряду с основным функционалом Сайта. Право использования функционала Приложений API, за исключением Дополнительного функционала Приложений API, предоставляется Администрацией Пользователю на безвозмездной основе согласно условиям настоящего Соглашения.</span></li>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>1.6. Лицензиар (или Администрация)</b> – , пользователь tetraset.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>1.11. Лицензиат (или Пользователь)</b> – физическое лицо, зарегистрированное на Сайте в соответствии с <a href="https://myskillspro.ru/terms"><span class="s4"><b>Правилами пользования Сайтом Майскиллс</b></span></a>.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>1.12. Соглашение</b> – текст настоящего Лицензионного соглашения между Администрацией Сайта (Лицензиаром) и Пользователем (Лицензиатом), содержащий все необходимые и существенные условия лицензионного договора о предоставлении прав использования Программ для ЭВМ Сайта Майскиллс. Настоящее Соглашение заключается между Администрацией и Пользователем в упрощенном порядке и является договором присоединения по смыслу п. 5 ст. 1286 ГК РФ.</span></li>
</ul>
<p class="p2"><span class="s1"></span><br></p>
<p class="p4"><span class="s1">2. Статус настоящего Соглашения</span></p>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>2.1.</b> Настоящее Соглашение определяет условия предоставления Пользователю права использования Программ для ЭВМ Сайта Майскиллс. Настоящее Соглашение также распространяется на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>2.2.</b> Предметом настоящего Соглашения является предоставление Администрацией Пользователю на условиях простой неисключительной лицензии права использования Программ для ЭВМ Сайта Майскиллс. Помимо настоящего Соглашения, к соглашению между Администрацией и Пользователем относятся все специальные документы, регулирующие предоставление отдельного функционала Сайта и размещенные в свободном доступе в соответствующих разделах Сайта в сети Интернет.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>2.3.</b> Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация на Сайте, а также любое использование Сайта (Программ для ЭВМ Сайта Майскиллс и/или размещенной в них информации (контента) означает полное и безоговорочное принятие им настоящего Соглашения в соответствии со ст. 438 Гражданского кодекса Российской Федерации.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>2.4.</b> Настоящее Соглашение может быть изменено и/или дополнено Администрацией в одностороннем порядке без какого-либо специального уведомления Пользователя. Настоящее Соглашение является открытым и общедоступным документом. Действующая редакция Соглашения располагается в сети Интернет по адресу: <a href="https://myskillspro.ru/licence"><span class="s7">https://myskillspro.ru/licence</span></a>. Администрация рекомендует Пользователям регулярно проверять условия настоящего Соглашения на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящее Соглашение означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.</span></li>
</ul>
<p class="p2"><span class="s1"></span><br></p>
<p class="p4"><span class="s1">3. Пределы использования Пользователем Программ для ЭВМ Сайта Майскиллс</span></p>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.1.</b> Пользователь вправе:</span></li>
    <ul class="ul1">
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.1.1</b>. взаимодействовать с другими Пользователями Сайта Майскиллс путем использования Программ для ЭВМ;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.1.2.</b> использовать Программы для ЭВМ Сайта Майскиллс в соответствии с их назначением и функциональными возможностями;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.1.3.</b> воспроизводить и использовать Приложения API в соответствии с их функциональным назначением;</span></li>
    </ul>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.2.</b> Пользователь не вправе:</span></li>
    <ul class="ul1">
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.2.1</b>. воспроизводить, дублировать, копировать, продавать, распространять, осуществлять торговые операции и перепродавать право использования и/или сами Программы для ЭВМ Сайта Майскиллс для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с условиями настоящего Соглашения;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.2.2.</b> переводить Программы для ЭВМ Сайта Майскиллс на другие языки;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.2.3.</b> распространять вне Сайта Майскиллс в коммерческих или некоммерческих целях аудиовизуальные и/или графические отображения, присутствующие в Программах для ЭВМ Сайта Майскиллс, а также любые элементы их дизайна или пользовательского интерфейса, при отсутствии письменного разрешения соответствующих правообладателей на совершение данных действий;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.2.4.</b> воспроизводить, копировать, осуществлять сбор, систематизацию, хранение, передачу контента в рамках Программы для ЭВМ Сайта Майскиллс с целью создания базы данных в коммерческих и/или некоммерческих целях и/или использовать контент полностью или в любой его части, независимо от способа использования, без согласия Администрации;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>3.2.5.</b> использовать Программы для ЭВМ иными способами, не предусмотренными настоящим Соглашением и выходящими за рамки обычного процесса функционирования Программ для ЭВМ Сайта Майскиллс.</span></li>
    </ul>
</ul>
<p class="p2"><span class="s1"></span><br></p>
<p class="p4"><span class="s1">4. Порядок предоставления Администрацией Пользователю права использования Программ для ЭВМ Сайта Майскиллс</span></p>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>4.1.</b> Право использования Программ для ЭВМ Сайта Майскиллс, за исключением права использования Дополнительного функционала Сайта, предоставляется Администрацией Пользователю безвозмездно на условиях простой неисключительной лицензии с момента регистрации Пользователя на Сайте Майскиллс, либо с момента начала использования Сайта (Программ для ЭВМ Сайта Майскиллс и/или размещенной в них информации (контента).</span></li>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>4.3.</b> Право использования Дополнительного функционала Сайта может также предоставляться Пользователю иными способами, предусмотренными функциональными возможностями Сайта Майскиллс.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>4.4.</b> Право использования Программ для ЭВМ предоставляется Администрацией Пользователю на срок действия настоящего Соглашения, если только исчерпание предоставленного объема прав не наступит ранее.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>4.5.</b> Денежные средства, уплаченные Пользователем являются лицензионным вознаграждением Администрации по настоящему Соглашению.</span></li>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>4.7.</b> Исключительное право на распространение Дополнительного функционала Сайта принадлежит Администрации, в связи с чем никакие предложения третьих лиц о предоставлении прав использования Дополнительного функционала Сайта или права доступа к ним не могут быть расценены Пользователем как предложения, исходящие от Администрации.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>4.8.</b> В случае возникновения спорных, неясных ситуаций, либо направления Пользователю каких-либо предложений третьих лиц, связанных с оплатой прав использования Дополнительного функционала Сайта, либо размещения таких объявлений и предложений в сети Интернет, Пользователь обязан незамедлительно уведомить об этом Администрацию. Если Пользователь, нарушив настоящее положение, произвел оплату по указанному объявлению с использованием реквизитов, указанных в таком объявлении, претензии Пользователя к Администрации по поводу отсутствия у него доступа к Дополнительному функционалу Сайта не принимаются, и Администрация не компенсирует Пользователю денежные средства, потраченные им при таких обстоятельствах.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>4.9.</b> Если Администрацией будет установлено, что Пользователь получает доступ к Дополнительному функционалу Сайта от третьих лиц, Администрация вправе по своему усмотрению либо приостановить, либо ограничить, либо прекратить право использования Пользователем Программ ЭВМ Сайта Майскиллс.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>4.10.</b> Пользователь гарантирует Администрации, что он имеет право свободно распоряжаться денежными средствами, выбранными им для оплаты прав использования Дополнительного функционала Сайта, не нарушая при этом законодательство РФ и/или законодательство иной страны, гражданином которой является Пользователь, и права третьих лиц. Администрация не несет ответственности за возможный ущерб третьим лицам и/или другим Пользователям, причиненный в результате использования Пользователем не принадлежащих ему денежных средств.</span></li>
</ul>
<p class="p2"><span class="s1"></span><br></p>
<p class="p4"><span class="s1">5. Ограничение ответственности Администрации Сайта Майскиллс</span></p>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.1.</b> Пользователь использует Программы для ЭВМ на собственный страх и риск. Использование Программ для ЭВМ осуществляется в состоянии «как есть».</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.2.</b> Администрация не несет ответственности за возможные противоправные действия Пользователя или третьих лиц.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.3.</b> Администрация не несет ответственности за высказывания Пользователя, опубликованные посредством использования Программ для ЭВМ Сайта Майскиллс. Администрация не несет ответственности за поведение Пользователя при использовании им Программ для ЭВМ.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.4.</b> Администрация не несет ответственности за утерю Пользователем возможности доступа к своему аккаунту на Сайте (утрату логина, пароля, иной информации, необходимой для использования Программ для ЭВМ Сайта Майскиллс).</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.5.</b> Администрация не несет ответственности за неполное, неточное, некорректное указание Пользователем своих данных при использовании Программ для ЭВМ.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.6.</b> Администрация не осуществляет обмен Голосов на наличные или безналичные денежные средства или ценности и/или возврат денежных средств, уплаченных Пользователем при покупке Голосов.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.7.</b> Администрация не производит обмен одних приобретенных Пользователем элементов Дополнительного функционала Сайта на другие элементы Дополнительного функционала Сайта.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.8.</b> Администрация не возмещает Пользователю расходы, связанные с приобретением им прав использования Дополнительного функционала Сайта, в том числе в случае приостановления или прекращения доступа к Сайту Майскиллс, в том числе в случае нарушения Пользователем <a href="https://myskillspro.ru/terms"><span class="s4"><b>Правил пользования Сайтом Майскиллс</b></span></a>, и/или приостановления или прекращения настоящего Соглашения по любым основаниям.</span></li>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.9.</b> Администрация не гарантирует, что:</span></li>
    <ul class="ul1">
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.9.1.</b> Программы для ЭВМ будут удовлетворять субъективным требованиям и ожиданиям Пользователя;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.9.2.</b> процесс использования Программ для ЭВМ будет протекать непрерывно, быстро, без технических сбоев, надежно и без ошибок;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.9.3.</b> результаты, которые могут быть получены с использованием Программ для ЭВМ будут безошибочными;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.9.4.</b> Программы для ЭВМ будут доступны и могут использоваться круглосуточно, в какой-то конкретный момент времени или в течение какого-либо периода времени.</span></li>
    </ul>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.10.</b> Администрация не несет ответственности за возникновение прямого или косвенного ущерба для Пользователя либо иных третьих лиц, причиненного в результате:</span></li>
    <ul class="ul1">
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.10.1.</b> использования либо невозможности использования Программ для ЭВМ Сайта Майскиллс;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.10.2.</b> несанкционированного доступа любых третьих лиц к личной информации Пользователя, включая учетную запись Пользователя, персональный счет Пользователя на Сайте.</span></li>
    </ul>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.11.</b> При любых обстоятельствах ответственность Администрации перед Пользователем ограничена суммой в 10 (десять) рублей.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.12.</b> Администрация не обязана предоставлять Пользователю какие-либо документы и прочие доказательства, свидетельствующие о нарушении Пользователем условий настоящего Соглашения, в результате которого Пользователю было частично или полностью отказано в предоставлении права доступа к Сайту (права на использование Программ для ЭВМ Сайта Майскиллс).</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.13.</b> Пользователь понимает, принимает и соглашается, что Программы для ЭВМ Сайта Майскиллс могут предусматривать различные звуковые и/или видеоэффекты, которые при определенных обстоятельствах могут вызывать у лиц, склонных к эпилептическим или иным расстройствам нервного характера, обострение указанных состояний, и Пользователь гарантирует, что указанными расстройствами он не страдает, или же обязуется не использовать Программы для ЭВМ, предусматривающие такого рода раздражители.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>5.14.</b> Пользователь принимает и соглашается, что регулярное длительное (непрерывное) нахождение у персонального компьютера, использование иных технических устройств, может вызывать различные осложнения физического состояния, в том числе ослабление зрения, сколиоз, различные формы неврозов и прочие негативные воздействия на организм. Пользователь гарантирует, что он будет использовать Программы для ЭВМ исключительно на протяжении разумного времени, с перерывами на отдых или иные мероприятия по профилактике физического состояния, если таковые рекомендованы или предписаны Пользователю.</span></li>
</ul>
<p class="p2"><span class="s1"></span><br></p>
<p class="p4"><span class="s1">6. Условия об интеллектуальных правах</span></p>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>6.1.</b> Исключительные права на Программы для ЭВМ Сайта Майскиллс:</span></li>
    <ul class="ul1">
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>6.1.1.</b> Все Программы для ЭВМ являются объектами исключительных прав Администрации или иных правообладателей, все права на эти объекты защищены;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>6.1.2.</b> Кроме случаев, установленных настоящим Соглашением, а также действующим законодательством Российской Федерации, никакие Программы для ЭВМ не могут быть скопированы (воспроизведены), переработаны, распространены, отображены во фрейме, опубликованы, скачаны, переданы, проданы или иным способом использованы целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование Программ для ЭВМ любым лицом; при этом воспроизведение, копирование, сбор, систематизация, хранение, передача контента в рамках Программы для ЭВМ Сайта Майскиллс с целью создания базы данных в коммерческих и/или некоммерческих целях и/или использование такого контента полностью или в любой его части, независимо от способа использования, без согласия Администрации не допускается.</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>6.1.3.</b> Использование Пользователем Программ для ЭВМ, доступ к которым получен исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторства (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде и сохранении самой Программы для ЭВМ в неизменном виде;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>6.1.4.</b> Любое использование Программ для ЭВМ, кроме разрешенного в настоящем Соглашении или в случае явно выраженного согласия правообладателя на такое использование, без предварительного письменного разрешения правообладателя, категорически запрещено;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>6.1.5.</b> Если иное явным образом не установлено в настоящем Соглашении, ничто в настоящем Соглашении не может быть рассмотрено как передача Пользователю исключительных прав на контент Сайта и/или Программ для ЭВМ.</span></li>
    </ul>
</ul>
<p class="p2"><span class="s1"></span><br></p>
<p class="p4"><span class="s1">7. Территория и срок действия настоящего Соглашения</span></p>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.1.</b> Пользователь вправе использовать Программы для ЭВМ Сайта Майскиллс способами, описанными в настоящем Соглашении, на всей территории Российской Федерации, а также иных территориях, на которых они доступны в рамках обычного процесса функционирования Сайта.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.2.</b> Настоящее Соглашение действует с момента принятия его условий Пользователем и действует в течение 1 (Одного) календарного года.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.3.</b> Действие настоящего Соглашения автоматически продлевается еще на каждый последующий 1 (Один) год, если до истечения указанного срока действия Соглашения:</span></li>
    <ul class="ul1">
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.3.1.</b> Администрация не примет решение об изменении положений настоящего Соглашения, о необходимости заключения с Пользователем нового соглашения, полного или частичного прекращении обслуживания Программ для ЭВМ и прекращения к ним доступа, прекращении настоящего Соглашения в отношении Пользователя или прекращения доступа к Программам для ЭВМ в отношении Пользователя;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.3.2.</b> Пользователь не примет решение о прекращении права использования программ для ЭВМ.</span></li>
    </ul>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.4.</b> Администрация вправе в любое время без уведомления Пользователя и без объяснения причин прекратить действие настоящего Соглашения в одностороннем внесудебном порядке с немедленным прекращением доступа и возможности использовать Сайт и без возмещения каких-либо затрат, убытков или возврата полученного по Соглашению, в том числе в случае:</span></li>
    <ul class="ul1">
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.4.1.</b> закрытия Сайта Майскиллс;</span></li>
        <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.4.2.</b> любого, в том числе однократного, нарушения Пользователем условий настоящего Соглашения, <a href="https://myskillspro.ru/terms"><span class="s4"><b>Правил пользования Сайтом Майскиллс</b></span></a> или положений специальных документов, размещенных на Сайте.</span></li>
    </ul>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.5.</b> Пользователь вправе прекратить настоящее Соглашение в одностороннем внесудебном порядке путем удаления своего аккаунта на Сайте в порядке, предусмотренном специальными документами, размещенными на Сайте.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.6.</b> Пользователь соглашается и полностью признает, что все исключительные права на Программы для ЭВМ Сайта Майскиллс, принадлежат Администрации или третьим лицам, если иное в явном виде не указано в Соглашении или на Сайте.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.7.</b> Пользователь не вправе использовать любые составляющие Программ для ЭВМ вне Сайта без предварительного письменного согласия Администрации.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.8.</b> Пользователь понимает, принимает и соглашается, что любые элементы Программ для ЭВМ охраняются авторским правом. Несмотря на то, что Пользователю предоставляются права использования Программ для ЭВМ во время использования Сайта, такое использование Программ для ЭВМ не является и не может быть расценено ни при каких обстоятельствах как передача и/или уступка исключительного права в отношении указанных программ от Администрации к Пользователю.</span></li>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.9.</b> Настоящее Соглашение не предусматривает уступку каких-либо исключительных прав или выдачу исключительной лицензии на любые составляющие Программ для ЭВМ от Администрации к Пользователю.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.10.</b> Если Пользователю в соответствии с законами его государства запрещено пользоваться Программами для ЭВМ в режиме онлайн или существуют иные законодательные ограничения, включая ограничения по возрасту допуска к подобным программам для ЭВМ, Пользователь не вправе использовать Программы для ЭВМ. В таком случае Пользователь самостоятельно несет ответственность за использование Программ для ЭВМ на территории своего государства и нарушение местного законодательства.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.11.</b> Настоящее Соглашение может быть изменено Администрацией без какого-либо предварительного уведомления. Любые изменения в Соглашении, осуществленные Администрацией в одностороннем порядке вступают в силу с момента опубликования таких изменений на Сайте. Пользователь обязуется самостоятельно проверять Соглашение на предмет изменений. Неосуществление Пользователем действий по ознакомлению с Соглашением и/или измененной редакцией Соглашения не может служить основанием для неисполнения Пользователем своих обязательств и несоблюдения Пользователем ограничений, установленных Соглашением.</span></li>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.12.</b> Недействительность одного или нескольких положений настоящего Соглашения, признанная в установленном порядке вступившей в силу решением суда, не влечет для Пользователя и Администрации недействительности Соглашения в целом. В случае признания одного или нескольких положений Соглашения в установленном порядке недействительными, Администрация и Пользователь обязуются исполнять взятые на себя по Соглашению обязательства способом, максимально близко к таковому при заключении и/или согласованном изменении Соглашения.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.13.</b> Настоящее Соглашение и взаимоотношения Администрации и Пользователя в связи с настоящим Соглашением и использованием Программ для ЭВМ регулируются законодательством Российской Федерации.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.14.</b> В отношении формы и способа заключения настоящего Соглашения также применяются нормы Гражданского Кодекса РФ, регулирующие порядок и условия заключения договора путем акцепта публичной оферты.</span></li>
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.15.</b> Все споры сторон по настоящему соглашению подлежат разрешению путем переписки и переговоров с использованием обязательного досудебного (претензионного) порядка. В случае невозможности достичь согласия между сторонами путем переговоров в течение 60 (шестидесяти) календарных дней с момента получения другой стороной письменной претензии, рассмотрение спора должно быть передано любой заинтересованной стороной в суд общей юрисдикции по месту нахождения Администрации (с исключением подсудности дела любым иным судам).</span></li>
</ul>
<ul class="ul1">
    <li class="li3"><span class="s3"><b></b></span><span class="s1"><b>7.16.</b> По любым вопросам, связанным с исполнением настоящего Соглашения, просьба обращаться по электронному адресу help@myskills.pro</span></li>
</ul>
    </div></div>
{% endblock%}
