{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}Активация подписки{% endblock%}

{% block body %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Активация подписки</h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <p class="bg-danger" style="padding: 10px;">К сожалению платеж не прошел :( <a href="/subscription">Попробуйте еще раз</a></p>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
        
{% endblock%}