{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}500 problems with the site{% endblock%}

{% block body %}
    <section class="box">
        <header class="major">
            <h2>We have problems with our site</h2>
            <p>Sorry. Please try this request again later...</p>
        </header>
    </section>
{% endblock%}