{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}403 problems with rights{% endblock%}

{% block body %}
    <section class="box">
        <header class="major">
            <h2>The page is closed for you</h2>
            <p>Please try another request...</p>
        </header>
    </section>
{% endblock%}