{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}{% endblock%}

{% block body %}
<div class="panel panel-success">
    <div class="panel-body">
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </div>
</div>
{% endblock body %}
