{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}Смена пароля{% endblock%}
{% block body %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h3>
        </div>
        <div class="panel-body">
            {% include "SonataUserBundle:ChangePassword:changePasswordForm.html.twig" %}
        </div>
    </div>
{% endblock body %}
